@model DateOfBirthViewModel
@{
    ViewData["Title"] = "Home";

}
<img class="background-image-home" src="~/images/HomeBg.webp" asp-append-version="true"
     width:"100%" height:"100%" />
<div class="intro">
<h1>Welcome to AstroVista</h1>
<p>India's most trusted Horoscope Predictor</p>
</div>


<div class="card home-card" style="width: 18rem; text-align:center">
    <div class="card-header">
        <h3>What We Do</h3>
    </div>
    <div class="card-body">
        
        <p class="card-text">Unlock the secrets of your destiny with our personalized horoscope readings. 
            Choose your zodiac sign or enter your date of birth to explore six insightful 
            categories—Personal, Professional, Health, Travel, Luck and Emotions. 
            Navigate life's journey with tailored astrological guidance at your fingertips</p>
       
    </div>
</div>

<div>
    <img class="home-image" src="~/images/ZodiacSigns.png" asp-append-version="true" width:"400px" height="400px" />
</div>
